PORT=5000
NODE_ENV=production
CLIENT_ORIGIN=http://your-ec2-public-ip
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=8h
SEED_USER_PASSWORD=change_this_before_first_start
SEED_ADMIN_EMAIL=admin@hospital.gov
SEED_ADMIN_NAME=System Administrator
CLEAN_DEMO_DATA_ON_START=false

DB_HOST=your-rds-endpoint.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=your_rds_master_password_here
DB_NAME=forensic_db

MAIL_PROVIDER=ses
MAIL_FROM=teamfourcells@gmail.com
MAIL_FROM_NAME=Forensic Medicine Department
SES_IDENTITY_ARN=arn:aws:ses:ap-southeast-1:043671580226:identity/teamfourcells@gmail.com
SMTP_HOST=email-smtp.ap-southeast-1.amazonaws.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_ses_smtp_username
SMTP_PASS=your_ses_smtp_password
TEMP_PASSWORD_EXPIRES_MINUTES=30
